%h1 Incident Locator Platform

.about-text
  The incident locator platform aims to detect incidents (such as forest fires)
  by utilizing reports sent from mobile clients. We assume that the clients
  know only the approximate location of such incidents.
  Each client sents its coordinates in terms of longitude and latitude and the
  general direction where the device is pointing at.
  The platform tries to combine multiple reports in order to accurately
  determine the incident's location on the map.
  This is a pilot implementation and currently only the Android platform is
  supported. The server and the client code is freely available under the
  3-clause BSD license.

.row-fluid
  %ul.thumbnails
    %li.span3
      .thumbnail
        = link_to map_path, :class => "thumbnail" do
          %img
            = image_tag "map-screen.png"
        .caption
          %h3 View map

    %li.span3
      .thumbnail
        = link_to incidents_path, :class => "thumbnail" do
          %img
            = image_tag "list-screen.png"
        .caption
          %h3 View incidents

    %li.span3
      .thumbnail
        = link_to "https://github.com/ilocp/incident-locator-android",
          :class => "thumbnail", :target => "_blank" do
          %img
            = image_tag "android-screen.png"
        .caption
          %h3 Get the client

    %li.span3
      .thumbnail
        = link_to "https://github.com/ilocp/incident-locator",
          :class => "thumbnail", :target => "_blank" do
          %img
            = image_tag "code-screen.png"
        .caption
          %h3 Contribute

%div
  = gmaps(@incidents_data)
