%h1= @user.name

.information
  %div= gravatar_for @user
  %div
    %b Email:
    = @user.email

%h2= 'Incident reports'
.reports
  %table.table.table-striped.table-bordered
    -#%caption 'List of all incident reports made by user'
    %thead
      %tr
        %th= 'Latitude'
        %th= 'Longitude'
        %th= 'Heading'
    %tbody
      - @user.reports.each do |report|
        %tr
          %td= report.latitude
          %td= report.longitude
          %td= "#{report.heading}°"


