%h1= @user.name

.information
  %div= gravatar_for @user
  %div
    %b Email:
    = @user.email

%h2= 'Incident reports'
.reports
  - if @user.reporter? or @user.admin?
    %table.table.table-striped.table-bordered
      -#%caption 'List of all incident reports made by user'
      %thead
        %tr
          %th= 'Latitude'
          %th= 'Longitude'
          %th= 'Heading'
          %th= 'Date'
          %th= 'Time'
      %tbody
        = render @reports
  - else
    %div= "No reports. Your don't have permissions to post reports"
