.well
  %ul.nav.nav-list
    %li.nav-header= 'Menu'
    %li
      = link_to map_path do
        %i.icon-chevron-right
        = 'Map'
    %li
      = link_to incidents_path do
        %i.icon-chevron-right
        = 'Incidents'
    - if signed_in?
      %li.divider
      %li
        = link_to user_path(current_user) do
          %i.icon-chevron-right
          = 'My reports'
      %li
        = link_to new_report_path do
          %i.icon-chevron-right
          = 'Report from the web'
