.well
  %ul.nav.nav-list
    %li.nav-header= 'Menu'
    %li
      = link_to '#' do
        %i.icon-chevron-right
        = 'Map'
    %li
      = link_to '#' do
        %i.icon-chevron-right
        = 'Incidents'
    %li.divider
    %li
      = link_to '#' do
        %i.icon-chevron-right
        = 'My reports'
