!!! 5
%html{ html_attrs('en-US') }
  %head
    %title Incident Locator
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'

    .container-fluid
      .row-fluid
        .span2
          -# later, when we have public pages we could use current_page?()
          -# to test for certain paths that we don't want the sidebar to
          -# show up
          = render 'layouts/sidebar' if signed_in?
        .span10
          -# show all flash messages
          - flash.each do |key, value|
            %div{class: "alert-#{key}"}= value

          = yield

    = render 'layouts/footer'
